$icon-home: "\e600";
$icon-newspaper: "\e604";
$icon-camera: "\e60f";
$icon-book: "\e61f";
$icon-books: "\e620";
$icon-folder-open: "\e630";
$icon-price-tag: "\e635";
$icon-price-tags: "\e636";
$icon-clock: "\e64e";
$icon-time: "\e64f";
$icon-bell: "\e651";
$icon-calendar: "\e653";
$icon-display: "\e656";
$icon-laptop: "\e657";
$icon-mobile: "\e658";
$icon-phone: "\e659";
$icon-tablet: "\e65a";
$icon-undo: "\e667";
$icon-redo: "\e668";
$icon-forward: "\e669";
$icon-reply: "\e66a";
$icon-bubble: "\e66b";
$icon-quotes-left: "\e677";
$icon-quotes-right: "\e678";
$icon-menu: "\e6bd";
$icon-eye: "\e6ce";
$icon-bookmark: "\e6d2";
$icon-bookmarks: "\e6d3";
$icon-star-half: "\e6d8";
$icon-star-full: "\e6d9";
$icon-heart: "\e6da";
$icon-embed: "\e780";
$icon-share: "\e782";
$icon-google: "\e787";
$icon-facebook: "\e78c";
$icon-twitter: "\e791";
$icon-feed: "\e794";
